@media all and (min-width:480px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #191724;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  body {
    display: flex;
    height: 100%;
    width: 100%;
    background-color:	#faf4ed;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-height: 100vh;
    background-color: #9ccfd8;
    position: sticky;
    top: 0px;
    padding-top: 5vh;
  }

  nav * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 8vh;
    padding: 2vw;
  }

  .nav-home {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1vw;
  }

  .nav {
    align-items: center;
    text-align: center;
  }

  .main {
    width: 80vw;
    min-height:100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10vh 3.25vw;
  }

  .contact {
    display: flex;
    background-color:	#c4a7e7;
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 1vw 4.5vw;
    }

  .contact p {
    display: flex;
    position: relative;
    width: 90%;
    height: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
}

/* Assuming majority of mobile screens are less than 480px wide */
@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #191724;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color:	#faf4ed;
    }

  nav {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: #9ccfd8;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
  }
  
  nav * {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 100%;
  }

  .nav-home {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .main {
    margin-top: 10vh;
    padding-top: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact {
    display: flex;
    background-color:	#c4a7e7;
    width: 70vw;
    height: 25vh;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 2.5vh 10vw;
    }
  
  .contact p {
    display: flex;
    position: relative;
    width: 90%;
    height: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
}